@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-Regular.woff2");
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("./fonts/ProximaNova-Bold.woff2");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("./fonts/ProximaNova-Semibold.woff2");
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("./fonts/ProximaNova-Light.woff2");
}
