@import "~normalize.css";
@import "./fonts.scss";
@import "./global.scss";

body {
  font-family: "ProximaNova", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: black;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}
